<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/subscription.css"/>
    <title>오곡 - 구독 신청</title>
</head>
<body>
<div class="container">
    <h1>오곡 구독 신청</h1>
    <p>매일 오전 8시에 원하시는 장르에 맞는 곡을 추천해드립니다.🎵</p>
    <form id="subscription-form">
        <label for="email">이메일 주소
            <small>* 이메일 변경은 불가합니다. 형식에 맞게 알맞게 입력해주세요.</small>
        </label>
        <input type="email" id="email" placeholder="이메일을 입력해주세요." required>
    <label>원하시는 장르
        <small>* 장르는 하나만 선택 가능합니다.</small>
    </label>
        <div class="radio-group">
            <input type="radio" id="exciting" name="genre" value="신나는" required>
            <label for="exciting">신나는</label>

            <input type="radio" id="intense" name="genre" value="강렬한" required>
            <label for="intense">강렬한</label>

            <input type="radio" id="emotional" name="genre" value="감성적인" required>
            <label for="emotional">감성적인</label>

            <input type="radio" id="calm" name="genre" value="잔잔한" required>
            <label for="calm">잔잔한</label>
        </div>
        <button type="submit">구독 신청</button>
    </form>
</div>

<!-- 모달 -->
<div id="subscription-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>구독 신청 완료 🎉</h3>
        <p>구독 신청이 완료되었습니다. 창을 닫으시면 메인 페이지로 이동합니다.</p>
    </div>
</div>

<script>
    document.getElementById('subscription-form').addEventListener('submit', function (e) {
        e.preventDefault();
        const email = document.getElementById('email').value;
        const genre = document.querySelector('input[name="genre"]:checked').value;
        const modal = document.getElementById('subscription-modal');
        const closeModal = () => {
            window.location.href = '/';
        };

        fetch('/api/subscription/subscribe', {
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: new URLSearchParams({ email, genre }),
        })
            .then(async response => {
                const message = await response.text();
                if (response.ok) {
                    modal.style.display = 'flex';
                    document.querySelector('.close').onclick = closeModal;
                    modal.onclick = (event) => {
                        if (event.target === modal) closeModal();
                    };
                } else {
                    alert(message);
                }
            })
            .catch(error => {
                console.error("Network Error:", error);
                alert('서버 오류가 발생했습니다.');
            });
    });
</script>
</body>
</html>
